.list-container {
    padding: 20px;
    background-color: rgba(219, 112, 144, 0.226);
    width: 100%;
    max-width: 1200px;
    box-sizing: border-box;
    margin: 0 auto;
    text-align: center;
}

.list-container h2 {
    margin-bottom: 20px;
    font-size: 2em;
    color: #333;
}

.recipe-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
}

.recipe-item {
    border: 1px solid #ccc;
    padding: 20px;
    width: calc(25% - 40px); 
    box-sizing: border-box;
    text-align: left;
    background: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

@media (max-width: 1024px) {
    .recipe-item {
        width: calc(33.333% - 40px); 
    }
}

@media (max-width: 768px) {
    .recipe-item {
        width: calc(50% - 40px); 
    }
}

@media (max-width: 480px) {
    .recipe-item {
        width: calc(100% - 40px);     }
}
